.search-wrapper {
  display: flex;
  justify-content: flex-end;
}
.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.search-wrapper input {
  width: 100%;
  padding: 5px !important;
  border: 0 !important;
  padding-left: 1rem !important;
}

.listItem {
  display: flex;
  align-items: center;
  width: 350px !important;
}

.listItem img {
  margin-right: 1rem;
}

.listItem desc {
  font-size: 1.1rem;
  font-weight: 600;
}
